
  <h2> ELECTION 2</h2>
  <form [formGroup]="electionForm" (ngSubmit)="onSubmit()" class="election-form">
    <mat-form-field class="form-full-width">
      <mat-label>Company (disabled)</mat-label>
      <input matInput disabled value={{ election.election_name }}>
    </mat-form-field>

    <!-- Disabled manual input for date  picker -->
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Election Start Date</mat-label>
      <input matInput [matDatepicker]="pickerStartDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerStartDate></mat-datepicker>
    </mat-form-field>
    <!-- Disabled manual input ~for date  picker -->
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Election Start Date</mat-label>
      <input matInput [min]="minEndDate" [matDatepicker]="pickerEndDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
      <mat-datepicker #pickerEndDate></mat-datepicker>
    </mat-form-field>
  </form>
  