<mat-toolbar primary>
  <button mat-icon-button>
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>Election Details</span>
</mat-toolbar>
<mat-divider></mat-divider>


<mat-card class="login-form">
  <form [formGroup]="electionForm">
    <mat-form-field class="form-full-width">
      <mat-label>Election Name</mat-label>
      <input matInput formControlName="election_name">
    </mat-form-field>
    <br>
    <p>Election Dates</p>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Election Start Date</mat-label>
      <input matInput [matDatepicker]="startDate" formControlName="election_start_date">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    <span>&nbsp;</span>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Election End Date</mat-label>
      <input matInput [min]="minEndDate" [matDatepicker]="endDate" formControlName="election_end_date">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <p>Advanced Polling</p>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Advanced Polling Start Date</mat-label>
      <input matInput [matDatepicker]="advStartDate" formControlName="advanced_start_date">
      <mat-datepicker-toggle matSuffix [for]="advStartDate"></mat-datepicker-toggle>
      <mat-datepicker #advStartDate></mat-datepicker>
    </mat-form-field>
    <span>&nbsp;</span>
    <mat-form-field color="accent" appearance="fill" >
      <mat-label>Advanced Polling End Date</mat-label>
      <input matInput [matDatepicker]="advEndDate" formControlName="advanced_end_date">
      <mat-datepicker-toggle matSuffix [for]="advEndDate"></mat-datepicker-toggle>
      <mat-datepicker #advEndDate></mat-datepicker>
    </mat-form-field>
  </form>
</mat-card>



<!-- election_id: string;
election_name: string;
election_start_date: string;
election_end_date: string;
advanced_polling: number;
advanced_start_date: string;
advanced_end_date: string;
channel_name: string;
contract_name: string;
created_at: string;
updated_at: string;
locked: boolean; // 0 - unlocked(editable), 1 - locked(not running/in progress/completed)
progress: number; // 0 - not running, 1 - in progress, 2 - completed
disabled: boolean; // 0 - deleted election, 1 - valid election -->