<table mat-table [dataSource]="electionDataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="election_name">
    <th mat-header-cell *matHeaderCellDef>Election</th>
    <td mat-cell *matCellDef="let election">{{ election.election_name }}</td>
  </ng-container>

  <ng-container matColumnDef="election_start_date">
    <th mat-header-cell *matHeaderCellDef>Start Date</th>
    <td mat-cell *matCellDef="let election">{{ election.election_start_date | dateFormat: 'dddd MMM D, YYYY' }}</td>
  </ng-container>

  <ng-container matColumnDef="election_end_date">
    <th mat-header-cell *matHeaderCellDef>End Date</th>
    <td mat-cell *matCellDef="let election">
      {{ election.election_end_date | dateFormat: 'dddd MMM D, YYYY'  }}
    </td>
  </ng-container>

  <ng-container matColumnDef="advanced_polling">
    <th mat-header-cell *matHeaderCellDef>Adv. Poll</th>
    <td mat-cell *matCellDef="let election">{{ getAdvPoll(election.advanced_polling) }}</td>
  </ng-container>

  <ng-container matColumnDef="locked">
    <th mat-header-cell *matHeaderCellDef>Locked</th>
    <td mat-cell *matCellDef="let election">
      <mat-icon>{{ getStatus(election.locked) }}</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">{{ getProgress(element.progress) }}</td>
  </ng-container>

  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink='/election/{{element.election_id}}'>
        <mat-icon >edit</mat-icon>
      </a>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
