<!-- <ng-container *ngIf="user"> -->
<ng-container>
  <mat-sidenav-container class="nav-container">
    <mat-sidenav opened mode="side" class="side-nav">
      <div class="side-nav-header">
        <img src="assets/img/logo-oakville-black.png" />
        <h4>Election Administration</h4>
      </div>
      <mat-divider></mat-divider>

      <mat-nav-list class="side-nav">
        <a mat-list-item [routerLink]="'/election'">
          <mat-icon>ballot</mat-icon> Election
        </a>

        <a mat-list-item [routerLink]="'/voter'">
          <mat-icon>assignment_ind</mat-icon> Voters
        </a>

        <a mat-list-item [routerLink]="'/user'">
          <mat-icon>person</mat-icon> Users
        </a>

        <!-- <a mat-list-item [routerLink]="'/result'">
          <mat-icon>assignment</mat-icon> Results
        </a> -->
      </mat-nav-list>

      <!-- <mat-action-list class="side-nav-bottom">
        <button mat-list-item><mat-icon>exist_to_app</mat-icon>Logout</button>
      </mat-action-list> -->
    </mat-sidenav>

    <mat-sidenav-content class="main-app">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
