<ng-container>
  <mat-sidenav-container class="app-container">
    <mat-sidenav opened mode="side" class="side-nav">
      <div mat-subheader>Administration</div>
      <mat-divider></mat-divider>
      <mat-nav-list class="side-nav">
        <a mat-list-item [routerLink]="'/elections'">
          <mat-icon>ballot</mat-icon> Election
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="'/voters'">
          <mat-icon>how_to_reg</mat-icon> Voters List
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [routerLink]="'/results'">
          <mat-icon>assignment</mat-icon> Results
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>

      <mat-action-list lass="side-nav-bottom">
        <button mat-list-item><mat-icon>exist_to_app</mat-icon>Logout</button>
      </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-app">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
