<mat-card class="col-md-6 offset-md-3 mt-5">
    <mat-card-title>Admin Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControl="email" placeholder="admin@example.com">
                <!-- Retrieve display custom errors -->
                <mat-error *ngIf="loginForm.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <div class='login-button'>
                <button mat-raised-button>Login</button>
            </div>
        </mat-card-actions>
<mat-card-footer>
    <mat-error *ngIf="loginError">{{loginError}}</mat-error>
</mat-card-footer>
    </form>
</mat-card>