<mat-card class="login-form">
    <mat-card-title>Admin Portal Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-content class="form-input-width">
            <div class="form-input-width">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="username" placeholder="admin@example.com" type="email">
                    <mat-icon matSuffix>account_box</mat-icon>
                    <mat-error *ngIf="form.username.hasError('required')">Email is required</mat-error>
                    <mat-error *ngIf="form.username.hasError('email')">Please enter a valid email address</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                    <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
                        {{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="form.password.hasError('required')">Password is required</mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class='login-button'>
                <button mat-raised-button>Login</button>
            </div>
        </mat-card-actions>
        <mat-card-footer>
            <mat-error *ngIf="form">{{loginError}}</mat-error>
        </mat-card-footer>
    </form>
</mat-card>
